name: CI Workflow

on:
  push:
    branches: [ "**" ]

jobs:
  test-app:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    services:
      mongo:
        image: mongo:8
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: user
          MONGO_INITDB_ROOT_PASSWORD: password
          MONGO_INITDB_DATABASE: songs
        options: >-
          --health-cmd "echo 'db.runCommand(\"ping\").ok' | mongosh localhost:27017/test --quiet"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Create testing .env file
      run: echo "${{ secrets.TEST_ENV }}" > .env

    - name: Install dependencies
      run: npm ci

    - name: Run lint
      run: npm run lint

    - name: Run Coverage and Update Badge
      run: npm run test:cov:all && npm run coverage:update-badge
      env:
        TEST_DATABASE_URL: mongodb://user:password@localhost:27017/songs_test?authSource=admin
        NODE_ENV: testing

    - name: Commit Badge
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "chore: update coverage badge"
        file_pattern: README.md
        push_options: '--no-verify'